.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  width: 90vw;
  height: 90vh;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  align-items: initial;
  z-index: 2;
  font-family: var(--font-mono);
  padding: 2vw;

}

.title{
  font-size: 2vw;
  text-align: center;  
}

.addlist{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: cornsilk;
  width: 20vw;
  height: 80vh;

}

.list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: cornsilk;
  width: 60vw;
  height: 80vh;

}