.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  width: 90vw;
  height: 90vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-family: var(--font-mono);

}

.title{
  font-size: 2vw;
  text-align: center;  
}