@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.description {
  display: flex;
  width: 95vw;
  height: 95vh;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  align-items: initial;
  z-index: 2;
  font-family: 'Caveat', cursive;
  padding: 2vw;

}

.addlist {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: cornsilk;
  width: 20vw;
  height: 60vh;

}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: cornsilk;
  width: 60vw;
  height: 80vh;

}