.containerInput{
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-around;
    align-items: center;
}

.span{
    font-size: 1.1vw;
}
.input{
    width: 14vw;
    height: 2.5vh;
    border-radius: 1vw;
    border-width: 0.1vw;
    padding:0.5vw;
}
.input:hover{
    background-color: rgb(253, 249, 244);
}